.my-title {
  text-decoration: none;
  size: 20px;
  color: white;
}

.my-title:hover {
  text-decoration: none;
  color: white;
}

.my-distance {
  background-color: cornflowerblue;
}

.navbar {
  padding: 0.5rem 2rem;
}

.my-header {
  ul {
    li {
      a{
        line-height: 30px;
        text-decoration: none;
      }
      a:hover {
        color: black;
        outline:3px solid #1ab8e4;
        border-radius: 4px;
      }
    }
  }
}
